.fblogo {
  width: 50px;
  margin-top: 50px;
  margin-left: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: -10px;
}

.right {
  margin-left: 40px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
}
.email,
.password {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 0.1px solid #d6e1f3;
  border-radius: 15px;
  outline-color: rgb(72, 133, 247);
}
.logIn {
  background-color: #0866ff;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.logIn:hover {
  background-color: #2b7bfa;
}
.forgotten:hover {
  text-decoration: underline;
}

.forgotten {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
.forgotten a {
  color: black;
}

.createAcct:hover {
  background-color: rgb(2, 119, 2);
}

.createAcct {
  background-color: rgb(3, 160, 3);
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
  margin-left: 100px;
  margin-top: 50px;
  width: 100%;
  margin-left: 5px;
}
