.right {
  margin-left: 50px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 50px;
}
.email,
.password {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 0.1px solid #d6e1f3;
  border-radius: 5px;
  outline-color: rgb(72, 133, 247);
}

.logIn {
  background-color: #0866ff;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.logIn:hover {
  background-color: #2b7bfa;
}

.forgotten:hover {
  text-decoration: underline;
}

.forgotten {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
.createAcct:hover {
  background-color: rgb(2, 119, 2);
}

.createAcct {
  background-color: rgb(3, 160, 3);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: white;
  margin-left: 140px;
}
.page p span {
  color: black;
}
.page {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .container {
    max-width: 400px;
    margin-right: 20px;
  }
  .email,
  .password,
  .logIn,
  .createAcct {
    width: 200px;
  }
  .forgotten {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .createAcct {
    margin-left: 10px;
  }
  .page p {
    font-size: 14px;
    font-weight: 300;
  }
}
